@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,600");
* {
  transition: all 0.5s ease; }

.Verde, .Green {
  background-color: #389916; }

.Vermelho, .Red {
  background-color: #d9152b; }

.Amarelo, .Yellow {
  background-color: #f7e809; }

.Azul, .Blue {
  background-color: #1553aa; }
