@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,600');

* {
  transition: all 0.5s ease;
}

.Verde {
  background-color: rgb(56, 153, 22);
}

.Vermelho {
  background-color: rgb(217, 21, 43);
}

.Amarelo {
  background-color: rgb(247, 232, 9);
}

.Azul {
  background-color: rgb(21, 83, 170);
}
